// Specific CSS for your home-page
.hello {
  text-align: center;
}

.classroom {
  text-align: center;
  background-color: white;
  box-shadow: #95a5a6;
  padding: 10px;
}

.student {
  display: flex;
  align-items: center
}

.student_name {
  text-align: center;
  margin: auto;
  color: white;
}

.imgs_student {
  display: flex;
  align-items: flex-start;
}

.list_students {
  padding: 10px;
}
