// Specific CSS for your home-page
#typed {
  text-align: center;
  color:#e16162;
}

.classroom {
  text-align: center;
  background-color: white;
  box-shadow: #95a5a6;
  padding: 10px;
}

.student {
  display: flex;
  align-items: center
}

.student_name {
  text-align: center;
  margin: auto;
  color: white;
}

.imgs_student {
  display: flex;
  align-items: flex-start;
}

.list_students {
  padding: 20px;
}

.plusadd {
  height: 40px;
  width:  40px;
  border-radius: 50;
}
