
.filterDiv {
  background-color: #f6f6f7;
  color: #FFFFFF;
  width: 90%;
  line-height: 30px;
  text-align: left;
  margin: 2px;
  padding-left: 2%;
  padding-right: 2%;
  display: none;
}

.obs {
  //background-color: red;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-radius: 8px;
  margin-bottom: 5px;
  font-size: medium;
}

#obs-title {
  font-weight: lighter;
  margin-top: 8px;
}

.bas_de_card {
  display: flex;
}

// .green {
//   //background-color: green;
//   border-left: 25px solid #2D95C2;
//   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
//   border-radius: 8px;
//   margin-bottom: 5px;
// }

// .grey {
//   //background-color: grey;
//   border-left: 25px solid #94D8CB;
//   box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
//   border-radius: 8px;
//   margin-bottom: 5px;
// }

.show {
  display: block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border: none;
  border-bottom-right-radius: 5px;
  outline: none;
  padding: 12px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}

.organize_ligne {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
}

.positionnement {
  position: absolute;
  vertical-align: middle;
}
