
 <!-- This file lives in public/500.html -->
 <div>
 <h2> Bonjour! </h2>
 </div>
  <div class="dialog">
    <div class="error-500" data-text="C'est le rôle essentiel du professeur d'éveiller la joie de travailler et de connaître. --Albert Einstein">
      <img src="https://www.optinote.xyz/assets/Optinote_logo-40eac63a3da1a827bf4e57600244b74ff6ac4b6a602bc5d4d3b04119b6be6558.png" alt="optinote-logo" height="50%" width="100%">
    </div>
  </div>
