 <!-- This file lives in public/500.html -->
  <%# <div class="dialog">
    <div class="error-500" data-text="Oh none! Our observation code is not working properly. We will be back soon!">
            <img src="https://res.cloudinary.com/dowgjinna/image/upload/v1642073840/logo_wagon_opti4d_dhefxo.png" alt="optinote-logo" height="50%" width="100%">
    </div>
  </div> %>
