#bttns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
}

#bttn_edit {
  float: left;
  height: 10;
  width: 20;
  border-radius: 5;
  background-color: black;
  padding: 5;
}

#bttn_delete {
  float: right;
  height: 10;
  width: 20;
  border-radius: 5;
  background-color: black;
  padding: 5;
}
