.container_form {
  width: 90%;
  margin: 0 auto;
}

.container_form_category {
  background-color: rgb(148, 216, 203);
  border-radius: 12px;
  padding: 10px;
  margin: 0 auto;
}

.title-form {
  text-align: center;
  padding-top: 14px;
}
// .custom-radios

.home_trait {
  /*background-image: url('https://res.cloudinary.com/dowgjinna/image/upload/v1641988355/bg_color_czmm70.jpg');*/
  background-color: #80136d;
  height: 2px;
}
